/* App.css */

/* Ensure no horizontal scroll by setting overflow-x to hidden */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

/* Ensure that the App component fits within the viewport */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  overflow-y: auto;   /* Allows vertical scrolling if needed */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rounded-box {
  width: 200px;            
  padding: 20px;          
  background-color: #f0f0f0; 
  border-radius: 15px;    
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  margin: 20px auto;     
  text-align: center;    
}

.rounded-box img {
  max-width: 100%;       
  height: auto;          
}
.companyContainer {
  overflow: hidden;
  position: relative;
  height: 6 rem;
  background-color: LightCyan;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

@keyframes slide-left {
  40% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.companyList {
  display: flex;
  flex-direction: row;
  color: purple;
  font-weight: bold;
  white-space: nowrap;
  animation: slide-left 60s linear infinite; 
  width: 200%; 
}

.companyItem {
  padding: 1.3rem; 
  font-size: 1.9rem;
  display: inline-block;
}



